<section class="intro">
  <div class="container">
    <div class="image-container" align="float:left;width:250px">
      <img src=/assets/img/image.jpg style="width:250px;padding:10px">
      <div class="lead-text-container">
        <p class="lead" style="width:300px">Hi, I'm <strong class="author-name" itemprop="name">{{ site.author.name }}</strong>, <em itemprop = "greeting">{{site.author.greeting}}</em><!--<em itemprop="jobTitle">{{ site.author.job }}</em>-->. <br>
        {{ site.author.bio }}</p>
      </div>
    </div>
  </div>
</section>
