<section class="intro">
  <div class="container">
        <img src="/assets/img/image.jpg" style="width:250px;padding:20px;" align="right">
        <br>
        <p class="lead">Hi, <img src="https://upload.wikimedia.org/wikipedia/commons/5/57/Ayubowan.png" style="height:20px;"> !!
          I'm <strong class="author-name" itemprop="name">{{ site.author.name }}</strong>,
            <em itemprop = "greeting">{{site.author.greeting}}</em>.
           I'm a <strong itemprop="jobTitle">{{ site.author.job }}</strong> starting Fall 2017,{{ site.author.bio }}</p>
  </div>
</section>
